@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
  background: #F1F4F5;
  font: bold 16px/1.3 'Questrial', sans-serif;
}

html, body, .wrapper {
  min-height: calc(100vh - 50px);
}

a {
  color: rgb(100, 100, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  max-width: 1432px;
  padding: 0 20px;
  margin: auto;
}

.banner {
  font-size: 16px;
  background: #fff;
  padding: 15px 0;
  text-align: center;
  font-weight: normal;
}

.title {
  font-size: 45px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
}

.title span {
  display: block;
  font-size: .3em;
  text-transform: none;
}

.social {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.social__item {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 0 10px 10px rgba(0,0,0,.1);
  transition: opacity .2s, box-shadow .2s;
}

.social__item:first-child {
  margin-left: 0;
}

.social__item:hover {
  opacity: .9;
  box-shadow: 0 10px 15px rgba(0,0,0,.3)
}

.lg-dzen {
  background: #282C33 url(/dzen.png) no-repeat center;
  background-size: auto 100%;
}

.lg-youtube {
  background: #FF4B3E url(/yu.png) no-repeat center;
  background-size: auto 100%;
}

.footer {
  background: #fff;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: rgba(0,0,0,.3)
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0 10px;
    box-sizing: border-box;
  }

  .social__item {
    width: 80px;
    height: 80px;
    flex: none;
    margin-left: 10px;
  }
}