.headers {
  border-bottom: 1px solid rgb(0 51 153 / 5%);
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background: #2A2A2A;
}

.sections {
  display: flex;
  justify-content: space-between;
}

.nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.nav__item {
  margin-right: 20px;
}

.nav__item a {
  text-transform: capitalize;
  font-size: 14px;
  color: rgb(0 51 153 / 45%);
  font-weight: normal;
}

.nav__item a:hover {
  color: rgb(0 51 153 / 75%);
  text-decoration: none;
}

.logo {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}