.headers {
  border-bottom: 1px solid rgb(0 51 153 / 5%);
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background: #fff;
}

.logo {
  color: #007BFB;
  font-size: 20px;
  text-transform: uppercase;
}