# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v3
    - name: Build Project
      run: |
        npm install
        npm run build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Get latest code
      uses: actions/checkout@v3
    - name: Deploy files
      uses: SamKirkland/FTP-Deploy-Action@4.3.1
      with:
        server: ${{ secrets.SERVER }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
    
  telegram:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
    - name: send telegram message on push
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TG_TO }}
        token: ${{ secrets.TG_TOKEN }}
        message: |
          ${{ github.actor }} создан commit:
          Сообщение о commits: ${{ github.event.commits[0].message }}
            
          Репозиторий: ${{ github.repository }}
            
          Увидеть изменения: https://github.com/${{ github.repository }}/commit/${{github.sha}}
